@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #1d1d1d;
  overflow: hidden;
}

h1,h2,p,a,li{
  font-family: "Roboto";
  -webkit-font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,a,li{
  line-height: 1.5em;
}

h1,h2,li{
  color: rosybrown;
}

h1{
  text-align: center;
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
p{
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
}
li{
  font-size: 1em;
}
a{
  font-size: 1em;
  color: #f053a7;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  filter: brightness(80%);
  transition: all ease-in-out 200ms;
}


.main-container{
  display: flex;
  background-color: #fafafa;
  margin: 7% auto;
  padding: 4em;
  border-radius: 4px;
  flex-direction: column;
  max-width: 30%;
  max-height: 90%;
  transition: box-shadow 1s ease-in-out;
  border: 1px solid #f053a791;
}

.main-container:hover{
  box-shadow: 0px 0px 200px #f053a791;
  transition: box-shadow 500ms ease-in-out;
}

code{
  background-color: #1d1d1d;
  padding: 1em;
  color: #f053a7;
  border-radius: 4px;
  animation: aparecer ease-in-out 3s;
  animation-fill-mode: forwards;
}

@keyframes aparecer{
  from{
    filter: opacity(0);
  }
  to{
    filter: opacity(1);
  }
}

@keyframes crescer{
  from{
    max-width: 30%;
  }
  to{
    max-width: 40%;
  }
}